.env
**/*token*
nvae/optimization_time_plots/
nvae/SampleSpecificQualitativeResults/
nvae/universal_qualitative/
nvae/univ_attack_storage/
nvae/grill_perturbation_analysis/
nvae/NvaeConvergencePlots/
nvae/__pycache__/
nvae/all_universal_qualitative/
nvae/allLayerLossPlots/
nvae/all_universal_qualitative/
nvae/deviation_store/
nvae/extraCodeFiles/
nvae/extrasFolders/
nvae/saved_cond_nums/
nvae/stepLayerLossstore/
nvae/weighting_strategy_study/
QwenAttack/Qwen2.5-VL-7B-Instruct/
QwenAttack/outputsStorage/convergence/
diffae/attack_qualitative_untargeted_univ_quantitative/
diffae/attack_run_time_univ/
diffae/runtime_plots/
diffae/noise_storage/
diffae/imgs_align_uni_ad/
diffae/extraFolders/
diffae/SSqualitative/
diffae/__pycache__/
diffae/checkpoints/
diffae/DiffAEConvergencePlots/
diffae/conditioning_analysis/
diffae/defense_efficacy/
diffae/diffusion/__pycache__
diffae/extraCode/
diffae/extras/
diffae/grad_distribution/
diffae/review_address_abalation/
diffae/layerLossEvolSaved/
mae/univ_attack_storage/
mae/deviation_store/
mae/demoImage/
mae/damage_distributions_variation/
mae/__pycache__/
mae/conditionAnalysis/
mae/demo/
mae/MaeConvergencePlots/
mae/imagenetDataSubset/
mae/imagenetparaquet/
mae/mae_visualize_vit_large.pth
mae/mae_visualize_vit_large_ganloss.pth
mae/qualitativeTest/
mae/convergencePlots/
mae/convergencePlots/
gemma_attack/Gemma3-4b/
gemma_attack/conditioningAnalysis/
gemma_attack/extras/
gemma_attack/instructions.txt
gemma_attack/trasnferGemma3.txt
gemma_attack/outputsStorage
betaVAEandTcVAE/robustness_eval_saves_univ/relevancy_test/
betaVAEandTcVAE/saved_celebA/
betaVAEandTcVAE/robustness_eval_saves_univ/run_time_div/
betaVAEandTcVAE/robustness_eval_saves_univ/
betaVAEandTcVAE/perturbation_analysis/backup/
betaVAEandTcVAE/data_faces/img_align_celeba/
betaVAEandTcVAE/data_cel1/
betaVAEandTcVAE/__pycache__/